.info-section {
  display: flex;
  min-height: 80vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 1rem;

  article {
    display: grid;
    gap: 2rem;
  }
  h1 {
    font-size: 4rem;
    color: var(--colorTextPrimary);
  }
  img {
    width: 35vw;
    height: 35vw;
    margin-bottom: 1rem;
    border-radius: 50%;
  }
  p {
    width: 45vw;
    min-width: 300px;
    color: var(--colorTextSecondary);
    font-size: 1.4rem;
  }
  @media (max-width: 1000px) {
    flex-direction: column-reverse;
    padding: 3rem 1rem 3rem 1rem;
    min-height: 40vw;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
      width: auto;
      min-width: auto;
    }
    img {
      min-width: 300px;
      min-height: 300px;
    }
    article {
      gap: 1rem;
    }
  }
}
