.news-header {
  padding: 2rem 2rem 0rem 2rem;
  font-size: 3rem;
  color: var(--colorTextPrimary);
}
.news-section-wrapper {
  padding: 2rem;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  .news-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 10px;
    border: none;
    background-color: var(--colorCards);
    img {
      min-height: 200px;
      max-height: 200px;
      object-fit: cover;
    }
    h3 {
      padding: 1rem;
      color: var(--colorTextPrimary);
      font-size: 2rem;
    }
    p {
      color: var(--colorTextPrimary);
      padding: 1rem;
      font-size: 1.4rem;
    }
  }
}
